body
  font-family: $font-base
  font-size: $font-size-base
  color: $color-base
  height: 100%
  line-height: 1.1
  background-color: #f7f7f7
a
  text-decoration: none
textarea
  resize: none
input[placeholder]
  &:focus::-webkit-input-placeholder
    color: transparent
  &:focus::-moz-placeholder
    color: transparent
  &:focus:-moz-placeholder
    color: transparent
  &:focus:-ms-input-placeholder
    color: transparent

.main
  margin: 0 auto
  max-width: 1580px

.main-title
  font-size: 26px
  text-transform: uppercase
  color: $color-base
  font-family: $Gothic
  text-align: center
  margin-bottom: 40px

.btn
  display: inline-block
  font-size: 14px
  color: #fff
  text-transform: uppercase
  background-color: $main-color-theme
  padding: 10px
  text-align: center
  box-sizing: border-box
  font-family: $HelveticaRegular
  +border-radius(5px)
  +transition(0.2s linear)
  &:hover
    background-color: #e92552

.me-subscribe
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%
  background-color: $main-color-theme
  z-index: 9999999
.me-subscribe-wrap
  height: 60px
  position: relative
  +flexbox
  +justify-content(center)
  +align-items(center)
  &::before
    content: ''
    border-style: solid
    border-width: 0 30px 30px 30px
    border-color: transparent transparent $main-color-theme transparent
    position: absolute
    left: 5px
    top: -30px
.me-subscribe__text
  color: #fff
  font-family: $Gothic
  margin-right: 60px
.me-subscribe__input
  padding: 10px
  border: 1px solid #fff
  background-color: rgba(#fff, 0.2)
  color: #fff
  margin-right: 20px
  width: 175px
  +border-radius(5px)
  &::-webkit-input-placeholder
    color: #fff
  &::-moz-placeholder
    color: #fff
  &:-moz-placeholder
    color: #fff
  &::-ms-input-placeholder
    color: #fff
.me-subscribe__btn
  background-color: #fff
  width: 175px
  color: $main-color-theme
  &:hover
    color: #fff
    background-color: #e92552

//Header
.header
  background-color: #fff
.header-block
  +clearfix
.header-block__logo
  float: left
  margin-right: 40px
.header-logo
  height: 60px
  padding-left: 10px
  +flexbox
  +align-items(center)
.header-logo__text
  font-size: 14px
  color: $main-color-theme
  font-family: $Gothic
  margin-left: 20px
.header-block__phone
  float: left
  margin-right: 20px
.header-phone
  line-height: 60px
  font-size: 20px
.header-block__addr
  float: left
  //margin: 0 20px 0 0
.header-addr
  font-size: 12px
  height: 60px
  +flexbox
  +flex-direction(column)
  +justify-content(center)
.header-block__nav
  float: right
.header-nav
  ul
    +clearfix
.header-nav__li
  float: left
  margin: 0 20px 0 0
  &:last-child
    margin: 0
    position: relative
    &:hover .header-nav-course
      display: block
.header-nav__link
  display: inline-block
  line-height: 60px
  font-size: 14px
  font-family: $Gothic
  text-transform: uppercase
  padding: 0 5px
  color: $color-text-base
  &:hover
    color: $main-color-theme
.header-nav-link--course
  width: 260px
  background-color: $main-color-theme
  color: #fff
  text-align: center
  &:hover
    color: #fff
.header-nav-course
  display: none
  position: absolute
  left: 0
  top: 60px
  z-index: 999999
  width: 100%
  background-color: $main-color-theme
.header-nav-course__link
  display: block
  text-align: center
  padding: 10px 0
  text-transform: uppercase
  color: #fff
  font-family: $GothicBold
  font-size: 12px
  &:hover
    background-color: rgba(255,255,255,0.3)

//description
.me-description
  position: relative
.me-description-video
  img
    width: 100%
    height: 100%
    display: block
.me-description-title-wrap
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  +flexbox
  +align-items(center)
  +justify-content(center)
.me-description-title
  max-width: 800px
  font-size: 48px
  line-height: 50px
  font-family: $Gothic
  color: #fff
  text-align: center
.me-description-title__span
  font-family: $GothicBold

//Button
.me-button
  background-color: $main-color-theme
  padding: 0px 8px
  text-align: center
.me-button__btn
  background-color: transparent
  font-size: 30px
  color: #fff
  text-transform: uppercase

//Advantages
.me-advantages
  padding: 120px 0px 50px
  .main
    max-width: 1156px
.me-advantages-wrap
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.me-advantages-item
  min-width: 260px
  max-width: 350px
  width: 100%
  margin-bottom: 20px
  text-align: center
.me-advantages-item__image
  width: 213px
  height: 207px
  margin: 0px auto 10px
//.me-advantages--image_1
//  background: url(../images/adv_1.png) no-repeat center
//.me-advantages--image_2
//  background: url(../images/adv_2.png) no-repeat center
//.me-advantages--image_3
//  background: url(../images/adv_3.png) no-repeat center
//.me-advantages--image_4
//  background: url(../images/adv_4.png) no-repeat center
//.me-advantages--image_5
//  background: url(../images/adv_5.png) no-repeat center
//.me-advantages--image_6
//  background: url(../images/adv_6.png) no-repeat center
//.me-advantages-item:hover
.me-advantages--image_1
  background: url(../images/adv_1_hover.png) no-repeat center
.me-advantages--image_2
  background: url(../images/adv_2_hover.png) no-repeat center
.me-advantages--image_3
  background: url(../images/adv_3_hover.png) no-repeat center
.me-advantages--image_4
  background: url(../images/adv_4_hover.png) no-repeat center
.me-advantages--image_5
  background: url(../images/adv_5_hover.png) no-repeat center
.me-advantages--image_6
  background: url(../images/adv_6_hover.png) no-repeat center
.me-advantages-item__title
  font-family: $HelveticaBold
  margin-bottom: 10px
.me-advantages-item__text
  font-size: 14px

//Popular
.me-popular
  padding: 0px 0px 80px
.me-popular-wrap
  +flexbox
  +justify-content(space-around)
.me-popular__item
  max-width: 32%
  +flex(1 1 0%)
.me-popular__item:nth-child(2)
  margin: 0px 20px
.me-popular-item
  width: 100%
.me-popular-item__title
  background-color: $main-color-theme
  position: relative
  height: 100px
  +flexbox
  +justify-content(center)
  +align-items(center)
.me-popular-title
  text-align: center
  font-size: 22px
  text-transform: uppercase
  font-family: $Gothic
  color: #fff
  max-width: 392px
  padding: 0px 0px 0px 40px
  box-sizing: border-box
.me-popular-title--ico
  position: absolute
  left: 4%
  top: 30%
.me-popular-item__body
  height: 370px
  padding: 30px
  background-size: cover
  background-repeat: no-repeat
  +flexbox
  +align-items(flex-end)
.me-popular-body--image_1
  background: url("../images/share_1.jpg") no-repeat center
  background-size: cover
.me-popular-body--image_2
  background: url("../images/share_2.jpg") no-repeat center
  background-size: cover
.me-popular-body--image_3
  background: url("../images/share_3.jpg") no-repeat center
  background-size: cover
.me-popular-block
  background-color: rgba(255,255,255,0.7)
  width: 100%
  padding: 20px 5px
  text-align: center
.me-popular-price
  font-size: 50px
  line-height: 56px
  color: $main-color-theme
  font-family: $GothicBold
.me-popular-price__old
  font-size: 24px
  line-height: 30px
  color: #3b4348
  margin-right: 15px
  text-decoration: line-through
  font-family: $Gothic
.me-popular-block__text
  color: $main-color-theme
  margin: 15px 0px
.me-popular-btn
  max-width: 300px
  width: 100%

//Courses
.me-courses-block
  +flexbox
.me-courses-block__item
  +flex(1 1 0%)
.me-courses-logo
  position: relative
  height: 440px
  img
    width: 100%
    height: 100%
.me-courses-logo__info
  position: absolute
  left: 25px
  bottom: 25px
.me-courses-logo-info
  padding: 16px 15px 20px
  background-color: rgba(255,255,255,0.7)
  color: $color-text-base
.me-courses-logo-info__date
  margin-right: 30px
  &::before
    content: url("../images/ico_calendar.png")
    margin-right: 15px
    position: relative
    top: 4px
.me-courses-logo-info__schedule
  &::before
    content: url("../images/ico_time.png")
    margin-right: 15px
    position: relative
    top: 4px
.me-courses-description-wrap
  +flexbox
.me-courses-description
  padding: 30px
  text-align: left
  +flex(2 1 0%)
  +order(1)
.me-courses-description__title
  font-size: 22px
  font-family: $Gothic
  color: $main-color-theme
  text-transform: uppercase
  margin-bottom: 30px
.me-courses-description__text
  margin-bottom: 10px
.me-courses-description__price-old
  font-size: 24px
  line-height: 30px
  color: #3b4348
  text-decoration: line-through
  font-family: $Gothic
.me-courses-description__price
  font-size: 50px
  line-height: 56px
  color: $main-color-theme
  font-family: $GothicBold
  margin-bottom: 10px
.me-courses-description__share
  color: $main-color-theme
  margin-bottom: 35px
.me-courses-description-btn
  width: 160px
.me-courses-ico
  text-align: right
  padding: 30px
  +flex(1 1 0%)
  +order(2)
.me-courses-block:nth-child(even)
  .me-courses-ico
    text-align: left
    +order(1)
  .me-courses-description
    text-align: right
    +order(2)
  .me-courses-logo__info
    left: auto
    right: 25px

//Social
.me-social
  padding: 50px 0
  background-color: $main-color-theme
  .main
    max-width: 1156px
.me-social-wrap
  +flexbox
  +align-items(center)
.me-social-wrap__text
  font-size: 18px
  line-height: 24px
  color: #fff
  text-transform: uppercase
  margin-right: 80px
.me-social-icon
  height: 60px
  width: 60px
  background-color: #fff
  font-size: 40px
  color: $main-color-theme
  display: -webkit-inline-flex
  display: inline-flex
  margin-right: 20px
  +border-radius(50%)
  +align-items(center)
  +justify-content(center)

//Reviews
.me-reviews
  padding: 120px 0px 60px
  background-color: #e8e8e8
  .main
    max-width: 1156px
  .lSSlideOuter .lSPager.lSpg > li
    padding: 0 20px
    a
      width: 15px
      height: 15px
      background-color: #999999
    &:hover a, &.active a
      background-color: $main-color-theme
.me-reviews-block
  +flexbox
  +flex-wrap(wrap)
.me-reviews-block__item
  +flex(1 1 0%)
.me-reviews-info
  background-color: #fff
  margin: 0px 20px 0px 0px
  position: relative
  padding: 35px
  box-sizing: border-box
  height: 370px
  +border-radius(10px)
  &::after
    content: ''
    position: absolute
    top: 50%
    margin-top: -16px
    right: -20px
    border-style: solid
    border-width: 16px 0 16px 20px
    border-color: transparent transparent transparent #ffffff
.me-reviews-info__title
  margin: 0px 0px 30px
.me-reviews-info-title
  +flexbox
  +flex-wrap(wrap)
.me-reviews-info-title__photo
  margin: 0px 30px 0px 0px
.me-reviews-info-title__name
  font-size: 18px
  font-family: $HelveticaBold
  +flexbox
  +align-items(center)
.me-reviews-info__text
  text-align: justify
  font-style: italic
.me-reviews-info__quote
  position: absolute
  left: 10px
  top: 10px
.me-reviews-video
  margin-left: 20px
  height: 370px
  img
    width: 100%
    height: 100%

//Gallery
.me-gallery-block
  +flexbox
.me-gallery-block__item
  +flex(1 1 0%)
.me-gallery-item
  position: relative
  img
    width: 100%
    height: 100%
    -webkit-filter: grayscale(100%)
    -ms-filter: grayscale(100%)
    filter: grayscale(100%)
    display: block
  &:hover
    .me-gallery-hover
      opacity: 1
.me-gallery-hover
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  background-color: rgba(213,33,74,0.7)
  color: #fff
  font-size: 12px
  line-height: 16px
  text-align: center
  padding: 20px
  box-sizing: border-box
  opacity: 0
  cursor: pointer
  +transition(0.2s ease-in)
  +flexbox
  +align-items(center)
  +justify-content(center)

//Footer
.footer
  background-color: #3b4348
  padding: 30px 0px 40px
.footer-wrap
  +flexbox
  +flex-wrap(wrap)
.footer-wrap__item
  border-right: 1px solid #999999
  padding: 0px 40px
  text-align: center
  &:last-child
    border-right: none
  +flex(1 1 0%)
.footer--title
  color: #fff
  font-family: $Gothic
  line-height: 18px
  min-height: 36px
  margin-bottom: 15px
.footer-social__link
  display: -webkit-inline-flex
  display: inline-flex
  width: 30px
  height: 30px
  background-color: #999999
  color: #3b4348
  font-size: 20px
  margin: 0px 5px 10px
  +border-radius(50%)
  +align-items(center)
  +justify-content(center)
  &:hover
    background-color: $main-color-theme
.footer-menu__link, .footer-school-list__link
  display: inline-block
  font-family: $GothicBold
  text-transform: uppercase
  color: #fff
  margin: 0px 0px 10px
  font-size: 12px
  &:hover
    color: $main-color-theme
.footer-saloon__image
  display: block
  width: 81px
  height: 149px
  margin: 0px auto
  background: url("../images/logo_footer.png") 0px 0px no-repeat
  &:hover
    background: url("../images/logo_footer.png") -81px 0px no-repeat
.footer-call_back-input
  display: block
  width: 100%
  background-color: #62696d
  padding: 10px
  color: #fff
  margin-bottom: 10px
  box-sizing: border-box
  +border-radius(5px)
.footer-call_back-btn
  width: 100%
  background-color: #fff
  color: $main-color-theme
  &:hover
    color: #fff
    background-color: $main-color-theme
.footer-logo__image
  display: block
  margin: 0px auto 15px
  width: 176px
  height: 60px
  background: url("../images/logo_footer2.png") 0px 0px no-repeat
  &:hover
    background: url("../images/logo_footer2.png") -176px 0px no-repeat
.footer-logo__address
  color: #fff
  font-size: 14px
  line-height: 20px
.footer-copy
  margin-top: 20px
  padding: 0px 10px
  color: #fff
  font-size: 12px

//Products
.me-products
  padding: 110px 0px 0px
  .main
    max-width: 1200px
.me-products__title
  margin-bottom: 60px
.me-products-title
  position: relative
  display: inline-block
  &::before
    content: ''
    display: block
    width: 100px
    height: 33px
    background: url("../images/title_sprite.png")
    background-position: 0px 0px
    position: absolute
    top: 50%
    margin-top: -16px
    left: -180px
  &::after
    content: ''
    display: block
    width: 100px
    height: 33px
    background: url("../images/title_sprite.png")
    background-position: -100px 0px
    position: absolute
    top: 50%
    margin-top: -16px
    right: -180px
.me-products-filter
  margin-bottom: 40px
  font-family: $HelveticaBold
  +flexbox
  +align-items(center)
.me-products-filter__parametr
  margin-right: 20px
.me-products-filter__select
  padding: 10px
  border: 1px solid #999999
  margin-right: 10%
  width: 176px
  font-size: 12px
  +border-radius(5px)
.me-products-block
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.me-products-item
  padding: 10px 20px
  border: 1px solid #dedede
  background-color: #fff
  position: relative
  min-width: 275px
  max-width: 275px
  box-sizing: border-box
  margin-bottom: 20px
  &:hover
    .me-products-item__hover
      opacity: 1
    .me-products-item__title
      text-decoration: underline
      color: $main-color-theme
.me-products-item__image
  height: 150px
  margin-bottom: 5px
  img
    display: block
    width: 100%
    height: 100%
.me-products-item__title
  font-size: 14px
  line-height: 16px
  font-family: $HelveticaRegular
  margin-bottom: 5px
  color: $color-text-base
.me-products-item-info
  font-size: 12px
  line-height: 14px
  color: #999999
  &:last-child
    margin-bottom: 10px
.me-products-item-info__parametr
  font-family: $HelveticaBold
  margin-right: 5px
.me-products-item-info__text
  font-family: $HelveticaRegular
.me-products-item__price
  font-family: $HelveticaBold
  color: $main-color-theme
.me-products-item__hover
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  background-color: rgba($main-color-theme, 0.2)
  opacity: 0
  border: 3px solid #dedede
  box-sizing: border-box
  padding-bottom: 45%
  +flexbox
  +justify-content(center)
  +align-items(center)
  +transition(0.1s linear)
  .btn
    width: 175px

//Pager
.me-pager
  padding: 40px 0px
  .main
    max-width: 1200px
.me-pager__link
  font-family: $HelveticaBold
  color: $main-color-theme
  padding: 12px
  &:hover
    background-color: $main-color-theme
    color: #fff
.me-pager-link--arrow
  background-color: #e8e8e8
.me-pager-link--active
  background-color: $main-color-theme
  color: #fff
  
//Courses_description
.me-courses_description
  background: url("../images/bg-course_description.png") no-repeat center
  background-size: cover
.me-courses_description-wrap
  height: 180px
  +flexbox
  +justify-content(center)
  +align-items(center)
.me-courses_description-wrap__title
  font-size: 26px
  text-transform: uppercase
  color: #fff
  font-family: $Gothic
  text-align: center

//Courses_popular
.me-courses_popular
  padding: 20px 0px 50px
  .me-popular-title
    padding: 0px
    max-width: 100%
  .me-popular-item__title
    padding: 10px 0px
    +flex-direction(column)
  .me-popular-title--info
    margin-bottom: 20px
  .me-courses-logo-info__date
    font-size: 16px
    &::before
      content: url("../images/ico_calendar_white.png")
  .me-courses-logo-info__schedule
    font-size: 16px
    &::before
      content: url("../images/ico_time_white.png")
  .me-popular-title--programm
    font-size: 16px
  .me-popular-block__ico
    margin-bottom: 20px
.me-courses_page
  .main
    max-width: 1200px
.me-courses-description--page
  padding: 0px 30px 30px
  text-align: left
  +flex(2 1 0%)
.me-courses-block--page
  margin-bottom: 50px
  +flexbox
  .me-courses-description__title
    background-color: #e8e8e8
    padding: 30px 15px
    margin: 0px 0px 20px 0px
  .me-courses-description__text
    margin-bottom: 30px
    li
      font-size: 18px
      line-height: 20px
      margin: 0px 0px 10px 30px
      position: relative
      &::before
        content: ''
        display: block
        width: 20px
        height: 20px
        background: url("../images/before-li.png") no-repeat
        position: absolute
        top: 50%
        margin-top: -10px
        left: -30px
  .me-courses-description__price
    +clearfix
  .me-courses-description__share
    float: right
    font-size: 16px
    line-height: 18px
    font-family: $HelveticaRegular
    position: relative
    text-align: right
    &::before
      content: ''
      display: block
      width: 13px
      height: 12px
      background: url("../images/before-star.png") no-repeat
      position: absolute
      left: -20px
      top: 10%
  .me-courses-description-price
    float: left

//Income
.me-income
  padding: 80px 0px
  background: url("../images/bg-income.png") no-repeat
  background-size: cover
  .main
    max-width: 1200px
.me-income-item
  max-width: 750px
  background-color: #fff
  padding: 25px 30px
  position: relative
  +border-radius(10px)
  &::after
    content: ''
    border-style: solid
    border-width: 17px 0 17px 20px
    border-color: transparent transparent transparent #ffffff
    position: absolute
    top: 50%
    margin-top: -17px
    right: -20px
.me-income-item__title
  font-size: 22px
  text-transform: uppercase
  font-family: $GothicBold
  color: $main-color-theme
  margin-bottom: 30px
.me-income-item__text
  min-height: 145px
  text-align: justify

//Video
.me-video
  padding: 50px 0px
  .main
    max-width: 1200px
.me-video-wrap
  img
    width: 100%
    height: 100%
    display: block

//Rating
.me-rating
  padding: 50px 0px 100px
  .main
    max-width: 1200px
.me-rating__text
  text-align: center
  font-family: $Gothic
  margin-bottom: 50px
.me-rating-wrap
  +flexbox
  +flex-wrap(wrap)
.me-rating-wrap__item
  +flex(1 1 0%)
.me-rating-item
  height: 224px
  width: 224px
  background-color: #eeeeee
  background-repeat: no-repeat
  margin: 0px auto 50px
  text-align: center
  position: relative
  +flexbox
  +flex-direction(column)
  +align-items(center)
  +justify-content(center)
  +border-radius(50%)
.me-rating-item--first
  background-image: url("../images/rating-img-1.png")
.me-rating-item--second
  background-image: url("../images/rating-img-2.png")
.me-rating-item--third
  background-image: url("../images/rating-img-3.png")
.me-rating-item__number
  font-size: 40px
  text-transform: uppercase
  color: $main-color-theme
  margin-bottom: 5px
  font-family: $GothicBold
.me-rating-item__text
  font-size: 18px
  line-height: 20px
  height: 40px
  font-family: $Gothic
  max-width: 80%
.me-rating-steps
  padding: 20px
  min-height: 100px
  box-sizing: border-box
  background-color: #e8e8e8
  +flexbox
  +flex-wrap(wrap)
  +align-items(center)
.me-rating-steps__item
  +flex(1 1 0%)
.me-rating-steps__item
  font-size: 18px
  line-height: 20px
  text-transform: uppercase
  font-family: $Gothic
.me-rating-steps__text
  font-family: $HelveticaRegular
  font-size: 16px
  text-transform: lowercase
  width: 190px
  display: block
  margin: 0px auto
  position: relative
.me-rating-steps-text--first::before
  content: url("../images/before-rating-1.png")
  position: absolute
  left: -50px
  top: 50%
  margin-top: -20px
.me-rating-steps-text--first:after
  content: url("../images/after-rating-arrow.png")
  position: absolute
  right: 0px
  top: 50%
  margin-top: -10px
.me-rating-steps-text--second::before
  content: url("../images/before-rating-2.png")
  position: absolute
  left: -50px
  top: 50%
  margin-top: -17px
.me-rating-steps-text--second:after
  content: url("../images/after-rating-arrow.png")
  position: absolute
  right: 0px
  top: 50%
  margin-top: -10px
.me-rating-steps-text--third::before
  content: url("../images/before-rating-3.png")
  position: absolute
  left: -50px
  top: 50%
  margin-top: -20px
.me-rating + .me-reviews + .me-advantages
  padding-top: 70px

//Course_card
.me-course_description
  background: url("../images/bg-description-courses_card.png") no-repeat center
  background-size: cover
.me-course_description-wrap
  font-family: $Gothic
  text-align: center
  padding: 50px 0px 150px
  +flexbox
  +flex-direction(column)
  +justify-content(center)
.me-course_description-time
  margin-bottom: 70px
.me-course_description-time__date
  font-size: 28px
  color: $main-color-theme
.me-course_description-time__text
  font-size: 18px
  color: #fff
.me-course_description-title
  margin-bottom: 60px
.me-course_description-title__main
  font-size: 28px
  text-transform: uppercase
  color: #fff
  margin-bottom: 30px
.me-course_description-title__sub
  font-size: 18px
  color: #fff
.me-course_description-price
  font-size: 60px
  color: $main-color-theme
  margin-bottom: 100px
  font-family: $GothicBold
.me-course_description-btn
  .btn
    padding: 20px 30px
    font-size: 16px

//Programm
.me-programm
  padding: 80px 0px
  .main
    max-width: 1200px
.me-programm-block
  margin-bottom: 30px
  +flexbox
  +flex-wrap(wrap)
.me-programm-block__image
  max-width: 470px
  +flex(2 1 0%)
.me-programm-image
  height: 220px
  padding: 20px
  box-sizing: border-box
  +flexbox
  +align-items(flex-end)
  +justify-content(flex-start)
.me-programm-image--first
  background: url("../images/programm-img_1.jpg") no-repeat center
  background-size: cover
.me-programm-image--second
  background: url("../images/programm-img_2.jpg") no-repeat center
  background-size: cover
.me-programm-image--third
  background: url("../images/programm-img_3.jpg") no-repeat center
  background-size: cover
.me-programm-block__info
  margin-left: 20px
  +flex(3 1 0%)
.me-programm-info__title
  background-color: #e8e8e8
  padding: 30px 15px
  margin: 0px 0px 20px 0px
  font-size: 22px;
  font-family: $Gothic
  color: #d5214a
  text-transform: uppercase
.me-programm-info__text
  text-align: justify
.me-programm-image__time
  padding: 10px 15px 15px
  background-color: rgba(255,255,255,0.7)
  color: #666
  width: 300px
.me-programm-time::before
  content: url(../images/ico_time.png)
  margin-right: 10px
  position: relative
  top: 4px

//Teacher
.me-teacher
  padding: 80px 0px 60px
  background-color: #e8e8e8
  .main
    max-width: 960px
  .lSSlideOuter .lSPager.lSpg
    position: absolute
    right: 0px
    top: 0px
    > li
      display: block
      margin: 30px 0px
      a
        width: 15px
        height: 15px
        background-color: #999
        &:hover
          background-color: $main-color-theme
      &.active a
        background-color: $main-color-theme
.me-teacher__title
  margin-bottom: 80px
.me-teacher-block
  padding-right: 50px
  +flexbox
.me-teacher-block__photo
  max-width: 240px
  min-width: 240px
  height: 240px
  +flex(1 1 0%)
  img
    width: 100%
    height: 100%
    display: block
.me-teacher-block__info
  margin-left: 20px
  +flex(2 1 0%)
.me-teacher-info
  padding: 30px 70px
  position: relative
.me-teacher-info__title
  font-size: 18px
  font-family: $HelveticaBold
  margin-bottom: 10px
.me-teacher-info__job
  margin-bottom: 25px
  font-size: 14px
.me-teacher-info__text
  text-align: justify
  font-style: italic
.me-teacher-info__quote
  width: 50px
  height: 45px
  background: url("../images/quote.png") no-repeat center
  position: absolute
.me-teacher-info-quote--top
  top: 0px
  left: 0px
  +transform(rotate(180deg))
.me-teacher-info-quote--bot
  right: 0px
  bottom: 0px

//Porfolio
.me-portfolio
  background-color: #e8e8e8

//Form
.me-form
  background-color: $main-color-theme
  padding: 70px 0px
  text-align: center
  .main
    position: relative
.me-form__title
  color: #fff
.me-form-wrap
  margin-bottom: 20px
  .btn
    background-color: #fff
    color: $main-color-theme
    width: 175px
    height: 50px
    font-size: 16px
    &:hover
      background-color: #f96b8c
      color: #fff
.me-form-input
  font-size: 18px
  display: inline-block
  max-width: 400px
  width: 100%
  background-color: #fff
  color: $main-color-theme
  height: 50px
  box-sizing: border-box
  padding: 15px 10px
  margin-right: 15px
  +border-radius(5px)
.me-form__text
  color: #fff
  font-family: $HelveticaRegular
.me-form-ribbon
  width: 312px
  height: 300px
  background: url("../images/ribbon.png") no-repeat center
  box-sizing: border-box
  position: absolute
  left: 0px
  top: -96px
  +flexbox
  +align-items(center)
  +justify-content(flex-end)
.me-form-ribbon-price
  color: #fff
  text-align: center
  padding-right: 25px
.me-form-ribbon-price__old
  font-family: $HelveticaRegular
  text-decoration: line-through
  font-size: 28px
.me-form-ribbon-price__new
  font-size: 46px
  line-height: 48 px
  font-family: $GothicBold

//Star
.me-start
  padding: 70px 0px 40px
  border-bottom: 2px solid $main-color-theme
  .main
    max-width: 1200px
.me-start__title
  margin-bottom: 100px
.me-start-block
  margin-bottom: 60px
  +flexbox
  +flex-wrap(wrap)
.me-start-block__item
  +flex(1 1 0%)
.me-start-item
  +flexbox
  +flex-wrap(wrap)
  +justify-content(center)
  +align-items(center)
.me-start-item__info
  margin-left: 20px
  font-family: $Gothic
.me-start-item-info__title
  font-size: 18px
  color: #3b4348
  text-transform: uppercase
  margin-bottom: 10px
.me-start-item-info__text
  font-size: 34px
  color: $main-color-theme
.me-start-btn
  text-align: center
  .btn
    width: 175px
    height: 50px

//Group
.me-group
  padding: 40px 0px 60px
  .main
    max-width: 1200px
.me-group__title
  margin-bottom: 30px
.me-group__text
  font-size: 18px
  text-align: center
  font-family: $Gothic
  margin-bottom: 60px
.me-group-block
  +flexbox
  +flex-wrap(wrap)
.me-group-block__item
  +flex(1 1 0%)
.me-group-info__title
  font-family: $Gothic
  margin-bottom: 10px
.me-group-time__item
  +flexbox
  +flex-wrap(wrap)
.me-group-time-item
  margin-right: 40px
  +flexbox
  +flex-wrap(wrap)
  +align-items(center)
.me-group-time-item__number
  width: 24px
  height: 24px
  background-color: $main-color-theme
  margin-right: 10px
  color: #fff
  +border-radius(50%)
  +flexbox
  +align-items(center)
  +justify-content(center)
.me-group-time-item__text
  font-family: $HelveticaRegular
.me-group-form__input
  font-size: 18px
  display: inline-block
  max-width: 400px
  width: 100%
  color: $main-color-theme
  height: 50px
  box-sizing: border-box
  padding: 15px 10px
  margin-right: 15px
  background-color: #fff
  border: 1px solid #d2d2d2
  +border-radius(5px)
.me-group-form
  .btn
    width: 175px
    height: 50px
    font-size: 16px

//Why
.me-why
  padding: 70px 0px
  background-color: $main-color-theme
  .main
    max-width: 1200px
  .lSSlideOuter .lSPager.lSpg > li
    a
      width: 16px
      height: 16px
      background-color: #3b4348
      margin: 0px 20px
      &:hover
        background-color: #ffffff
  .lSSlideOuter .lSPager.lSpg > li.active
    a
      background-color: #ffffff
.me-why__title
  margin-bottom: 60px
.me-why__title
  color: #fff
.me-why-block
  +flexbox
  +flex-wrap(wrap)
  +align-items(center)
.me-why-block__item
  +flex(1 1 0%)
  +flexbox
  +justify-content(center)
.me-why-block-logo
  max-width: 530px
  text-align: center
  font-size: 34px
  line-height: 36px
  font-family: $HelveticaRegular
  color: #fff
  text-transform: uppercase
.me-why-block-logo__bold
  font-size: 46px
  line-height: 48px
  font-family: $HelveticaBold
.me-why-block-content
  background-color: #fff
  padding: 30px 20px
  max-width: 567px
  height: 180px
  box-sizing: border-box
  position: relative
  +border-radius(20px)
  &::before
    content: ''
    border-style: solid
    border-width: 18px 20px 18px 0
    border-color: transparent #ffffff transparent transparent
    position: absolute
    top: 50%
    margin-top: -18px
    left: -20px
.me-why-block-content__title
  font-size: 18px
  font-family: $Gothic
  text-transform: uppercase
  margin-bottom: 20px
  color: #3b4348
.me-why-block-content__text
  font-size: 18px
  font-family: $HelveticaRegular
  color: #3b4348

//Form_classes
.me-form_classes
  background-color: #e8e8e8
.me-form_classes-wrap
  +flexbox
  +flex-wrap(wrap)
  +align-items(center)
.me-form_classes-wrap__tabs
  +flex(1 1 0%)
.me-form_classes-wrap__content
  +flex(4 1 0%)
.me-form_classe-tabs
  position: relative
  font-family: $HelveticaBold
  text-transform: uppercase
  color: #999999
  background-color: #fff
  height: 170px
  cursor: pointer
  +flexbox
  +align-items(center)
  +justify-content(center)
.me-form_classe-tabs--active
  color: $main-color-theme
  &::after
    content: ''
    position: absolute
    top: 50%
    margin-top: -18px
    right: -20px
    border-style: solid
    border-width: 18px 0 18px 20px
    border-color: transparent transparent transparent #ffffff
.me-form_classe-tabs--group
  border-bottom: 1px solid #e8e8e8
.me-form_classe-tabs--individual
  border-top: 1px solid #e8e8e8
.me-form_classes-content
  text-align: center
  padding: 0px 30px
  box-sizing: border-box
  +flexbox
  +flex-direction(column)
  +justify-content(center)
.me-form_classes-content__title
  font-size: 22px
  font-family: $Gothic
  text-transform: uppercase
  margin-bottom: 10px
  color: #3b4348
.me-form_classes-content__sub_title
  font-family: $HelveticaRegular
  color: #3b4348
  margin-bottom: 20px
.me-form_classes-content-form
  margin-bottom: 20px
  .btn
    height: 50px
    width: 175px
.me-form_classes-content-form__input
  display: inline-block
  background-color: #fff
  border: 1px solid #d2d2d2
  padding: 15px
  box-sizing: border-box
  max-width: 400px
  width: 100%
  height: 50px
  margin-right: 20px
  font-size: 18px
  +border-radius(5px)
.me-form_classes-content__prices
  font-size: 46px
  line-height: 48px
  color: $main-color-theme
  font-family: $HelveticaBold
.me-form_classes-price_old
  font-size: 28px
  font-family: $HelveticaRegular
  margin-right: 20px
  text-decoration: line-through

  
